  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


  <!-- <div class="full-height">
    <div class="layout">
      <div class="centre" style="text-align: center;">
        <mat-card style="width: 100%; box-sizing: border-box;">
          <mat-card-content>
            <h2>Internet Routing Insights and Monitoring</h2>
            <table>
              <tr>
                <th style="text-align: left;">
                  View your Internet routing status
                </th>
                <th style="text-align: center;" class="col-sm">
                  Notification of routing changes
                </th>
                <th style="text-align: right;" class="col-sm">
                  Security compliance and assessment
                </th>
              </tr>
              <tr>
                <td style="text-align: left;">
                  <ul>
                    <li>Which prefixes are announced by your ASN?</li>
                    <li>Who do you peer with?</li>
                    <li>Which peers have the most influence over your traffic flow?</li>
                  </ul>
                </td>
                <td style="text-align: center;" class="col-sm">
                  <ul>
                    <li>Which prefixes are announced by your ASN?</li>
                    <li>Who do you peer with?</li>
                    <li>Which peers have the most influence over your traffic flow?</li>
                  </ul>
                </td>
                <td style="text-align: right;" class="col-sm">
                  <ul>
                    <li>Which prefixes are announced by your ASN?</li>
                    <li>Who do you peer with?</li>
                    <li>Which peers have the most influence over your traffic flow?</li>
                  </ul>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
</div> -->


<div class="full-height">
  <div class="layout">
    <div class="centre" style="text-align: center;">
      <mat-card style="width: 100%; box-sizing: border-box;">
        <mat-card-content>
          <img src="https://i.imgur.com/zdS98xY.png" style="height: 140px;">
          <h2>How is your Internet Routing?</h2>
          <h3>Get better visibility, insights and respond to Cyber Security threats.</h3>
          <div style="padding:10px" class="col s12 m6 offset-m3 center-align">
            <a class="oauth-container btn darken-4 white black-text" (click)="auth.googleSignin()" style="text-transform:none">
            <div class="left">
              <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            </div>
            Login with Google
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


