/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1558494949-ef010cbdcc31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80');
   */
  }
  
  my-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  mat-sidenav-container.mat-drawer-container {
    overflow: auto;
    flex-grow: 1;
  }