<h1 mat-dialog-title>Event Details for {{ data.network.network }}</h1>
<table class="mat-table">
  <tr class="mat-header-row"> 
    <th class="mat-header-cell">Date</th>
    <th class="mat-header-cell">Event Type</th>
    <th class="mat-header-cell">Previous Value</th>
    <th class="mat-header-cell">New Value</th>
  </tr>
  <tr class="mat-row" *ngFor="let event of data.events">
    <!-- <span *ngIf="event.network === data.network.network"> -->
    <td class="mat-cell">{{ event.timestamp.toDate()  | date : 'mediumDate' }}</td>
    <td class="mat-cell">{{ event.type }}</td>
    <td class="mat-cell">{{ stringToDict(event.value).from }}</td>
    <td class="mat-cell">{{ stringToDict(event.value).to }}</td>
  </tr>
</table>