<mat-toolbar>  
  <mat-toolbar-row>
    <span>BGP Monitoring</span>
    <span style="width: 15px;"></span>
    <span>
      <button mat-button [matMenuTriggerFor]="menu_monitoring">Monitoring</button>
      <mat-menu #menu_monitoring="matMenu">
        <button mat-menu-item>Prefixes</button>
        <button mat-menu-item>Autonomous System Number</button>
      </mat-menu>
    </span>
    <span>
      <button mat-button [matMenuTriggerFor]="menu_configuration">Configuration</button>
      <mat-menu #menu_configuration="matMenu">
        <button mat-menu-item>Prefixes</button>
        <button mat-menu-item>Autonomous System Number</button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space"></span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="menu_settings" aria-label="Example icon-button with a menu">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <mat-menu #menu_settings="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable notifications</span>
        </button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<app-event-dashboard></app-event-dashboard>