<div *ngIf="prefixes.length > 0; then results else noresults"></div>

<ng-template #noresults>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="padding: 10px">
    <mat-card style="width: 100%; box-sizing: border-box;">
      <mat-card-content>
        <h2>Monitored Prefixes</h2>
        <div>No prefixes are monitored, search to add one</div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>


<ng-template #results>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="padding: 10px">
    <mat-card style="width: 100%; box-sizing: border-box;">
      <mat-card-content>
        <h2>Monitored Prefixes</h2>
        <table class="mat-table">
          <tr class="mat-header-row">
            <th class="mat-header-cell" style="width:30pc;">Prefix</th>
            <th class="mat-header-cell">Delete</th>
          </tr>
          <div *ngFor="let prefix of prefixes">
            <tr class="mat-row">
              <td style="width: 30pc; text-align: center;">
                {{ prefix.prefix }}
              </td>
              <td class="mat-cell">
                <button mat-menu-item>
                  <mat-icon (click)="onClickDeletePrefix(prefix)">delete</mat-icon>
                </button>
              </td>
            </tr>
          </div>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>