/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
  }
  
  my-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  mat-sidenav-container.mat-drawer-container {
    overflow: auto;
    flex-grow: 1;
  }