<mat-toolbar color="primary">  
  <mat-toolbar-row>
    <span>Internet Monitoring</span>
    <span style="width: 15px;"></span>

    <!-- <span>
      <button mat-button [matMenuTriggerFor]="menu_monitoring">Monitoring</button>
      <mat-menu #menu_monitoring="matMenu">
        <button mat-menu-item>Prefixes</button>
        <button mat-menu-item>Autonomous System Number</button>
      </mat-menu>
    </span>

    <span>
      <button mat-button [matMenuTriggerFor]="menu_configuration">Configuration</button>
      <mat-menu #menu_configuration="matMenu">
        <button mat-menu-item>Prefixes</button>
        <button mat-menu-item>Autonomous System Number</button>
      </mat-menu>
    </span> -->

    <span class="fill-remaining-space"></span>

    <div *ngIf="auth.user$ | async; then authenticated else guest"></div>

    <ng-template #authenticated>
      <button (click)="onClickMarkNotificationsRead()" mat-button [matMenuTriggerFor]="menu_events">
        <mat-icon mat-icon *ngIf="notificationsUnread.length > 0" matBadge="{{ notificationsUnread.length }}" matBadgeColor="warn">announcement</mat-icon>
        <mat-icon mat-icon *ngIf="notificationsUnread.length == 0">announcement</mat-icon>
      </button>
      <mat-menu #menu_events="matMenu">
        <div *ngFor="let event of notifications">
          <button mat-menu-item>

            <mat-icon>{{ event.severity }}</mat-icon>
            <span>{{ event.message }} </span>
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu_settings">
        <img *ngIf="user.photoURL != null" style="border-radius: 50%; width: 35px; height: 35px;" src="{{user.photoURL}}">
      </button>
      <mat-menu #menu_settings="matMenu">
        <button mat-menu-item>
          <span>Welcome {{ user.displayName }}</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable notifications</span>
        </button>
        <button mat-menu-item (click)="auth.signOut()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-template>

    <ng-template #guest>
      <button mat-button (click)="auth.googleSignin()">
        <mat-icon>perm_identity</mat-icon> Login
      </button>
      
      </ng-template>

  </mat-toolbar-row>
</mat-toolbar>
<div height=250px class="custom-img"></div>
